<div class="panel" id="createPanel" hidden="hidden"><span class="fa fa-close" id="closeCreate"></span>
<div id="createstepsWrap">
		<div class="coneStepWrap successfulStepIcon conStep" stepid="createStepOne">
			<div class="stepIcon bounce">1</div>
		</div>
		<div class="coneStepWrap" stepid="createStepTwo">
			<div class="stepDivide"></div>
			<div class="stepIcon">2</div>
		</div>
		<div class="coneStepWrap" stepid="createStepThree">
			<div class="stepDivide"></div>
			<div class="stepIcon">3</div>
		</div>
		<div id="stepsTitle">There are 2 steps to complete. Click a step to jump to it.</div>
	</div>
	<div id="createdetailsWrap">
		<div class="stepWrap"  id="createStepOne">
		   <div class="stepHeader"><span class="fa fa-user"></span><span>&nbsp;&nbsp;Create Stamp</span></div>
		   <div class="stepDescription"><span>Fill out form to create basic transaction Data.</span><br/></div>
		   <div
			  class="loadingdiv">
			  <span></span><span></span><span></span><span></span><span></span>
			  <div></div>
		   </div>			
			<div class="createinnerWrap cstartupWrap">
				<form action="/create" method="POST" id="createform">
				   <br/>
					<legend> 
						<select name="state"><option value="">States List</option>
												<option value="andaman">Andaman  &amp;  Nicobar</option>
												<option value="andhra">Andhra Pradesh</option>
												<option value="assam">Assam</option>
												<option value="bihar">Bihar</option>
												<option value="chattisgarh">Chhattisgarh</option>
												<option value="chandigarh">Union Territory of Chandigarh</option>
												<option value="dadara">UT of Dadra and Nagar Haveli</option>
												<option value="daman">UT of Daman &amp; Diu</option>
												<option value="delhi">NCT of Delhi</option>
												<option value="goa">Goa</option>
												<option value="guj">Gujarat</option>
												 <option value="haryana">Haryana</option> 
												<option value="himachal">Himachal Pradesh</option>
												<option value="j_k">Jammu &amp; Kashmir</option>
												<option value="jharkhand">Jharkhand</option>
												<option value="karnataka">Karnataka</option>
												<option value="kerala">Kerala</option>
												<option value="mp">Madhya Pradesh</option>
												<option value="mh">Maharashtra</option>
												<option value="manipur">Manipur</option>
												<option value="meghalaya">Meghalaya</option>
												<option value="mizoram">Mizoram</option>
												<option value="nagaland">Nagaland</option>
												<option value="orissa">Odisha</option> 
												<option value="pondicherry">Puducherry</option>
												<option value="punjab">Punjab</option>
												<option value="raj">Rajasthan</option>
												<option value="sikkim">Sikkim</option>
												<option value="tamil">Tamilnadu</option>
												<option value="tripura">Tripura</option>
												<option value="up">Uttar Pradesh</option>
												<option value="uttar">Uttarakhand</option>
												<option value="westbengal">West Bengal</option>
							 </select></legend>
                             
                    <legend>
                    <select id="stampDutyTypeMand" class="txt-body-medium"
								name="stampDutyType" size="1">
								<option value='' selected>Select Stamp duty [Article
								Number]</option>
								
								<option value='RJ-RG-229'
									>
								(a) Gift in favour of widow by her deceased husband's mother, father, brother, or sister [31]</option>
								
								<option value='RJ-RG-230'
									>
								(b) Gift in favour of widow by her own mother, father, brother, sister, son or daughter; [31]</option>
								
								<option value='RJ-RG-102'
									>
								Acknowledgment [1]</option>
								
								<option value='RJ-RG-103'
									>
								Administration Bond [2]</option>
								
								<option value='RJ-RG-1'
									>
								Adoption [3]</option>
								
								<option value='RJ-RG-104'
									>
								Affidavit [4]</option>
								
								<option value='RJ-RG-469'
									>
								Affidavit (MukhyaMantri Shahari Jan Kalyan Yojana) [4]</option>
								
								<option value='RJ-RG-16'
									>
								Agreement [5(c)]</option>
								
								<option value='RJ-RG-16'
									>
								Agreement [5]</option>
								
								<option value='RJ-RG-4'
									>
								Agreement / Power of Development [5(bbbb)]</option>
								
								<option value='RJ-RG-171'
									>
								Agreement Relating to Deposit of Title Deed, pawn or pledge when Loan is repayable in more than 3 months [6(a)]</option>
								
								<option value='RJ-RG-172'
									>
								Agreement Relating to Deposit of Title Deed, pawn or pledge when Loan is repayable in not more than 3 months [6(b)]</option>
								
								<option value='RJ-RG-101'
									>
								Agreement Relating to Deposit of Title Deed/ Equitable Mortgage Deed when Loan not more than 3 months [6(ii)]</option>
								
								<option value='RJ-RG-100'
									>
								Agreement Relating to Deposit of Title Deed/ Equitable Mortgage Deed when Loan repayable in more than 3 months [6(i)]</option>
								
								<option value='RJ-RG-166'
									>
								Agreement conferring rights of telecasting, broadcasting or exhibition, event or film of amount exceeding rupees 10 lakhs [5(ff)(i)]</option>
								
								<option value='RJ-RG-165'
									>
								Agreement conferring rights of telecasting, broadcasting or exhibition, event or film of amount upto rupees 10 lakhs [5(ff)]</option>
								
								<option value='RJ-RG-3'
									>
								Agreement of Loan [5(bbb)]</option>
								
								<option value='RJ-RG-398'
									>
								Agreement relating to advertisement for promotion of product, programe or event [5(f)]</option>
								
								<option value='RJ-RG-164'
									>
								Agreement relating to advertisement for promotion of product, programe or event of amount exceeding rupees 10 lakhs [5(f)(ii)]</option>
								
								<option value='RJ-RG-163'
									>
								Agreement relating to advertisement for promotion of product, programe or event of amount upto rupees 10 lakhs [5(f)(i)]</option>
								
								<option value='RJ-RG-5'
									>
								Agreement to Sale with Possession [23]</option>
								
								<option value='RJ-RG-5'
									>
								Agreement to Sale with Possession [21(ii)]</option>
								
								<option value='RJ-RG-2'
									>
								Agreement to Sale without Possession [5(bb)]</option>
								
								<option value='RJ-RG-162'
									>
								Agreement to sale with possession (disable 40% or above) [21(1)]</option>
								
								<option value='RJ-RG-161'
									>
								Agreement to sale with possession (female SC/ST/BPL) [21(1)]</option>
								
								<option value='RJ-RG-160'
									>
								Agreement to sale with possession (female) [21(1)]</option>
								
								<option value='RJ-RG-159'
									>
								Agreement to sale with possession (male) [21(1)]</option>
								
								<option value='RJ-RG-397'
									>
								Agreement to sale without possession [5(c)]</option>
								
								<option value='RJ-RG-68'
									>
								Amalgamation order by high court [21(iii)]</option>
								
								<option value='RJ-RG-206'
									>
								Amalgamation order of companies and bank by HC/RBI [21(iii)]</option>
								
								<option value='RJ-RG-174'
									>
								Amendment in Article of Association of a company not relating to increase in authorized share capital [11(ii)]</option>
								
								<option value='RJ-RG-173'
									>
								Amendment in Article of Association of a company relating to increase in authorized share capital [11(i)]</option>
								
								<option value='RJ-RG-71'
									>
								Amendment in Articles of Association of a Company [11]</option>
								
								<option value='RJ-RG-111'
									>
								Appointment in execution of a power [7]</option>
								
								<option value='RJ-RG-400'
									>
								Appraisement of valuation where amount is exceeding Rs. 1,000/- [8(b)]</option>
								
								<option value='RJ-RG-112'
									>
								Appraisement of valuation-Where the amount does not exceed Rs. 1,000/- [8(a)]</option>
								
								<option value='RJ-RG-113'
									>
								Appraisement of valuation-in any other case [8(b)]</option>
								
								<option value='RJ-RG-114'
									>
								Apprenticeship-deed [9]</option>
								
								<option value='RJ-RG-70'
									>
								Article of Association of a Company [10]</option>
								
								<option value='RJ-RG-115'
									>
								Articles of clerkship [12]</option>
								
								<option value='RJ-RG-6'
									>
								Award [13]</option>
								
								<option value='RJ-RG-175'
									>
								Award when value of property does not exceed Rs. 1,000 [13(a)]</option>
								
								<option value='RJ-RG-176'
									>
								Award when value of property exceeds Rs. 1,000 [13(b)]</option>
								
								<option value='RJ-RG-79'
									>
								Bank Guarantee [13A]</option>
								
								<option value='RJ-RG-72'
									>
								Bond [14]</option>
								
								<option value='RJ-RG-116'
									>
								Bottomnry Bond [15]</option>
								
								<option value='RJ-RG-7'
									>
								Cancellation Deed [16]</option>
								
								<option value='RJ-RG-8'
									>
								Certificate of Sale [17]</option>
								
								<option value='RJ-RG-178'
									>
								Certificate of sale (Female SC/ST/BPL) [17]</option>
								
								<option value='RJ-RG-179'
									>
								Certificate of sale (Female other than SC/ST/BPL) [17]</option>
								
								<option value='RJ-RG-180'
									>
								Certificate of sale (disable 40% or above) [17]</option>
								
								<option value='RJ-RG-73'
									>
								Certificate or other document [18]</option>
								
								<option value='RJ-RG-117'
									>
								Charter party [19]</option>
								
								<option value='RJ-RG-181'
									>
								Composition Deed : Whereby debtor conveys his property for the benefit of his creditors (Male) [20(i)]</option>
								
								<option value='RJ-RG-183'
									>
								Composition Deed : Whereby debtor conveys his property for the benefit of his creditors. (Female other than SC/ST/BPL) [20(i)]</option>
								
								<option value='RJ-RG-182'
									>
								Composition Deed :Whereby debtor conveys his property for the benefit of his creditors. (Female SC/ST/BPL) [20(i)]</option>
								
								<option value='RJ-RG-184'
									>
								Composition Deed Whereby debtor conveys his property for the benefit of his creditors. (disable 40% or above) [20(i)]</option>
								
								<option value='RJ-RG-185'
									>
								Composition Deed in any other case [20(ii)]</option>
								
								<option value='RJ-RG-74'
									>
								Composition-deed [20]</option>
								
								<option value='RJ-RG-145'
									>
								Concent Deed for mining [58]</option>
								
								<option value='RJ-RG-118'
									>
								Concession Agreement [20A]</option>
								
								<option value='RJ-RG-186'
									>
								Concession Agreement total capital investment upto 10 crores [20A(i)]</option>
								
								<option value='RJ-RG-191'
									>
								Concession Agreement: Total Capital Investment exceed rupees 1000 crore but not exceed rupees 2500 crore [20A(vi)]</option>
								
								<option value='RJ-RG-189'
									>
								Concession Agreement: Total Capital Investment exceed rupees 200 crore but not exceed rupees 500 crore [20A(iv)]</option>
								
								<option value='RJ-RG-192'
									>
								Concession Agreement: Total Capital Investment exceed rupees 2500 crore [20A(vii)]</option>
								
								<option value='RJ-RG-188'
									>
								Concession Agreement: Total Capital Investment exceed rupees 50 crore but not exceed rupees 200 crore [20A(iii)]</option>
								
								<option value='RJ-RG-190'
									>
								Concession Agreement: Total Capital Investment exceed rupees 500 crore but not exceed rupees 1000 crore [20A(v)]</option>
								
								<option value='RJ-RG-187'
									>
								Concession Agreement: Total Capital investment exceed rupees 10 crore but not exceed rupees 50 crore [20A(ii)]</option>
								
								<option value='RJ-RG-51'
									>
								Consent Deed for mining lease [21(i)]</option>
								
								<option value='RJ-RG-51'
									>
								Consent Deed for mining lease [21]</option>
								
								<option value='RJ-RG-197'
									>
								Conveyence Deed Under SFS Scheme of Housing Board if the proper stamp duty paid on perpitual lease of land [21(i)]</option>
								
								<option value='RJ-RG-66'
									>
								Copy of Document [22]</option>
								
								<option value='RJ-RG-209'
									>
								Copy or extract if the original was chargeable with duty exceeding Rs. 1 [22(ii)]</option>
								
								<option value='RJ-RG-208'
									>
								Copy or extract if the original was not chargeable with duty or if chargeable the duty does not exceed Rs. 1 [22(i)]</option>
								
								<option value='RJ-RG-10'
									>
								Counter Part / Duplicate [23]</option>
								
								<option value='RJ-RG-211'
									>
								Counter Part or Duplicate: if the duty payable on original exceed Rs. 3 [23(b)]</option>
								
								<option value='RJ-RG-210'
									>
								Counter Part or Duplicate: if the duty payable on original not exceed Rs. 3 [23(a)]</option>
								
								<option value='RJ-RG-75'
									>
								Custom Bond [25]</option>
								
								<option value='RJ-RG-348'
									>
								Debt assignment (non performing assets) [21(i)]</option>
								
								<option value='RJ-RG-348'
									>
								Debt assignment (non performing assets) [37(b)]</option>
								
								<option value='RJ-RG-347'
									>
								Debt assignment (performing assets) [37(b)]</option>
								
								<option value='RJ-RG-347'
									>
								Debt assignment (performing assets) [21(i)]</option>
								
								<option value='RJ-RG-403'
									>
								Debt assignment by bank or financial institution in favor of Asset Reconstruction Company [21(i)]</option>
								
								<option value='RJ-RG-120'
									>
								Delivery order in respect of goods [26]</option>
								
								<option value='RJ-RG-69'
									>
								Developer Agreement [5(e)]</option>
								
								<option value='RJ-RG-149'
									>
								Developer Agreement (Sale power not given) [5(e)]</option>
								
								<option value='RJ-RG-150'
									>
								Developer Agreement (Sale power) [5(e)]</option>
								
								<option value='RJ-RG-30'
									>
								Dissolution of Partnership [43]</option>
								
								<option value='RJ-RG-12'
									>
								Divorce Deed [27]</option>
								
								<option value='RJ-RG-121'
									>
								Entry as an advocate, on the roll of any High Court [28]</option>
								
								<option value='RJ-RG-13'
									>
								Exchange Deed [29]</option>
								
								<option value='RJ-RG-214'
									>
								Exchange Deed (40% or) [29]</option>
								
								<option value='RJ-RG-62'
									>
								Exchange Deed (Agriculture US-48 RTA) [29]</option>
								
								<option value='RJ-RG-212'
									>
								Exchange Deed (Female SC/ST/BPL) [29]</option>
								
								<option value='RJ-RG-213'
									>
								Exchange Deed (Female other than SC/ST/BPL) [29]</option>
								
								<option value='RJ-RG-382'
									>
								Family settlement between family members (father, mother, wife, brother, sister, son, daughter, grandson, granddaughter, daughter in law of settler [51(A)(ii)]</option>
								
								<option value='RJ-RG-14'
									>
								Further charge with possession [30]</option>
								
								<option value='RJ-RG-14'
									>
								Further charge with possession [30(a)]</option>
								
								<option value='RJ-RG-15'
									>
								Further charge without possession [30]</option>
								
								<option value='RJ-RG-15'
									>
								Further charge without possession [30(b)]</option>
								
								<option value='RJ-RG-215'
									>
								Further charge: when in original mortgage possession is given, or agreed to be given [30(a)]</option>
								
								<option value='RJ-RG-216'
									>
								Further charge: when in original mortgage possession is given, or agreed to be given (Female SC/ST/BPL) [30(a)]</option>
								
								<option value='RJ-RG-217'
									>
								Further charge: when in original mortgage possession is given, or agreed to be given (Female other thanSC/ST/BPL) [30(a)]</option>
								
								<option value='RJ-RG-218'
									>
								Further charge: when in original mortgage possession is given, or agreed to be given (disabled) [30(b)]</option>
								
								<option value='RJ-RG-223'
									>
								Further charge: when possession is neither given in original mortgage nor in further charge  [30(b)(ii)]</option>
								
								<option value='RJ-RG-219'
									>
								Further charge: when possession is not given in original mortgage but given in further charge  [30(b)(i)]</option>
								
								<option value='RJ-RG-221'
									>
								Further charge: when possession is not given in original mortgage but given in further charge (Female other than SC/ST/BPL) [30(b)(i)]</option>
								
								<option value='RJ-RG-222'
									>
								Further charge: when possession is not given in original mortgage but given in further charge (disabled) [30(b)(i)]</option>
								
								<option value='RJ-RG-220'
									>
								Further charge: when possession is not given in original mortgage but given in further charge(Female SC/ST/BPL)  [30(b)(i)]</option>
								
								<option value='RJ-RG-146'
									>
								General Agreement [5(g)]</option>
								
								<option value='RJ-RG-24'
									>
								Gift Deed [31]</option>
								
								<option value='RJ-RG-52'
									>
								Gift Deed (Close Relations as per circular 154 dated 9 Mar 2011) [31]</option>
								
								<option value='RJ-RG-52'
									>
								Gift Deed (Close Relations as per notification 154 dated 9 Mar 2011) [31]</option>
								
								<option value='RJ-RG-225'
									>
								Gift Instrument (Female SC/ST/BPL) [31]</option>
								
								<option value='RJ-RG-226'
									>
								Gift Instrument (Female other than SC/ST/BPL) [31]</option>
								
								<option value='RJ-RG-224'
									>
								Gift Instrument (Male) [31]</option>
								
								<option value='RJ-RG-231'
									>
								Gift in favour of Govt., Local Bodies, Govt. Enterprise [31]</option>
								
								<option value='RJ-RG-227'
									>
								Gift in favour of father, mother, son, brother, sister, daughter-in-law, husband, son's son, daughter's son, son's daughter, daughter's daughter [31]</option>
								
								<option value='RJ-RG-228'
									>
								Gift in favour of wife or daughter  [31]</option>
								
								<option value='RJ-RG-18'
									>
								Indemnity Bond [32]</option>
								
								<option value='RJ-RG-148'
									>
								Instr.of conversion of firm/Pvt Ltd/unlisted Pub Ltd comp into LLP where on conversion immovable prop.vests in LLP [35B(2)(a)]</option>
								
								<option value='RJ-RG-337'
									>
								LLP Winding up or dissolution of LLP (b) in any other case. [35B(4)(b)]</option>
								
								<option value='RJ-RG-336'
									>
								LLP Winding up or dissolution of LLP where on a dissolution of the partnership any immovable property is taken as his share by a partner other than a partner who brought in that property as his share of contribution in the LLP [35B(4)(a)]</option>
								
								<option value='RJ-RG-335'
									>
								LLP: Reconstruction or amalgamation of limited liability partnership [35B(3)]</option>
								
								<option value='RJ-RG-332'
									>
								LLP: where such share contribution brought in by way of cash is in excess of Rs. 50,000/-, for every Rs. 50,000/- or part thereof [35B(1)(b)]</option>
								
								<option value='RJ-RG-334'
									>
								LLP: where such share contribution brought in by way of cash is in excess of Rs. 50,000/-, for every Rs. 50,000/- or part thereof : In any other case [35B(2)(b)]</option>
								
								<option value='RJ-RG-333'
									>
								LLP: where such share contribution is brought in by way of immovable property [35B(1)(c)]</option>
								
								<option value='RJ-RG-331'
									>
								LLP:where there is no share contribution in partnership or where such share contribution brought in by way of cash does not exceed Rs. 50,000/- [35B(1)(a)]</option>
								
								<option value='RJ-RG-122'
									>
								Lease - Where rent is fixed and no premium is paid or delivered [33(a)]</option>
								
								<option value='RJ-RG-235'
									>
								Lease > 1 year to 20 year (disabled) [33(a)(ii)]</option>
								
								<option value='RJ-RG-40'
									>
								Lease Deed (less than 1 year) [33]</option>
								
								<option value='RJ-RG-40'
									>
								Lease Deed (less than 1 year) [33(a)(i)]</option>
								
								<option value='RJ-RG-41'
									>
								Lease Deed (less than 20 year) [33(a)(i)]</option>
								
								<option value='RJ-RG-41'
									>
								Lease Deed (less than 20 year) [33]</option>
								
								<option value='RJ-RG-27'
									>
								Lease Deed (more than equal to 20 years) [33]</option>
								
								<option value='RJ-RG-26'
									>
								Lease Deed [Rent] (< 20 Years) Commercial and Others [33]</option>
								
								<option value='RJ-RG-26'
									>
								Lease Deed [Rent] (< 20 Years) Commercial and Others [33(a)(ii)]</option>
								
								<option value='RJ-RG-25'
									>
								Lease Deed [Rent] (< 20 Years) Residential [33]</option>
								
								<option value='RJ-RG-25'
									>
								Lease Deed [Rent] (< 20 Years) Residential [33(a)(ii)]</option>
								
								<option value='RJ-RG-53'
									>
								Lease Deed for Local Bodies (Patta) [33(c)(ii)]</option>
								
								<option value='RJ-RG-53'
									>
								Lease Deed for Local Bodies (Patta) [33]</option>
								
								<option value='RJ-RG-240'
									>
								Lease Deed more than 20 years or in perpetuity or term not mentioned (Female SC/ST/BPL) [33(a)(iii)]</option>
								
								<option value='RJ-RG-241'
									>
								Lease Deed more than 20 years or in perpetuity or term not mentioned (Female other than SC/ST/BPL) [33(a)(iii)]</option>
								
								<option value='RJ-RG-239'
									>
								Lease Deed more than 20 years or in perpetuity or term not mentioned (Male) [33(a)(iii)]</option>
								
								<option value='RJ-RG-242'
									>
								Lease Deed more than 20 years or in perpetuity or term not mentioned (disabled) [33(a)(iii)]</option>
								
								<option value='RJ-RG-405'
									>
								Lease deed 1 year to 5 year [33(ii)]</option>
								
								<option value='RJ-RG-404'
									>
								Lease deed below 1 year [33(i)]</option>
								
								<option value='RJ-RG-407'
									>
								Lease deed exceeding 10 year to 15 year [33(iv)]</option>
								
								<option value='RJ-RG-408'
									>
								Lease deed exceeding 15 year to 20 year [33(v)]</option>
								
								<option value='RJ-RG-409'
									>
								Lease deed exceeding 20 year to 30 year [33(vi)]</option>
								
								<option value='RJ-RG-410'
									>
								Lease deed exceeding 20 year to 30 year (Female SC/ST/BPL) [33(vi)]</option>
								
								<option value='RJ-RG-411'
									>
								Lease deed exceeding 30 year and perpetual [33(vii)]</option>
								
								<option value='RJ-RG-414'
									>
								Lease deed exceeding 30 year and perpetual (Disable 40% and above) [33(vii)]</option>
								
								<option value='RJ-RG-413'
									>
								Lease deed exceeding 30 year and perpetual (Female SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-412'
									>
								Lease deed exceeding 30 year and perpetual (Female other than SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-406'
									>
								Lease deed exceeding 5 year to 10 year [33(iii)]</option>
								
								<option value='RJ-RG-298'
									>
								Lease deed u/s 90A of RLR Act allotment by local bodies, presented after 8 months and revalidate by local bodies (Disable 40% and above) [33(vii)]</option>
								
								<option value='RJ-RG-298'
									>
								Lease deed u/s 90A of RLR Act allotment by local bodies, presented after 8 months and revalidate by local bodies (Disable 40% and above) [33(c)(ii)]</option>
								
								<option value='RJ-RG-296'
									>
								Lease deed u/s 90A of RLR Act allotment by local bodies, presented after 8 months and revalidate by local bodies (Female SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-296'
									>
								Lease deed u/s 90A of RLR Act allotment by local bodies, presented after 8 months and revalidate by local bodies (Female SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-297'
									>
								Lease deed u/s 90A of RLR Act allotment by local bodies, presented after 8 months and revalidate by local bodies (Female other than SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-297'
									>
								Lease deed u/s 90A of RLR Act allotment by local bodies, presented after 8 months and revalidate by local bodies (Female other than SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-295'
									>
								Lease deed u/s 90A of RLR Act allotment by local bodies, presented after 8 months and revalidate by local bodies (Male) [33(c)(ii)]</option>
								
								<option value='RJ-RG-295'
									>
								Lease deed u/s 90A of RLR Act allotment by local bodies, presented after 8 months and revalidate by local bodies (Male) [33(vii)]</option>
								
								<option value='RJ-RG-443'
									>
								Lease deed u/s 90A of RLR Act in fav of person in pursuance of his app or record of society sbumitted on or before 30.11.2017 before local body for issuing lease deed, on the basis of unreg. or insuff. stamped instru. Exe before 31.05.13 and presented for regn on or before 31.12.2017(Male) [33(vii)]</option>
								
								<option value='RJ-RG-446'
									>
								Lease deed u/s 90A of RLR Act in fav of person in pursuance of his appl or record of soc subtd on or before 30.11.2017 before local body for issuing lease deed, on the basis of unregd or insuff stamped instru exe before 31.05.13 and presented for regn on or before 31.12.2017(Disable 40% or above) [33(vii)]</option>
								
								<option value='RJ-RG-445'
									>
								Lease deed u/s 90A of RLR Act in fav of person in pursuance of his appln or record of soc subtd on or before 30.11.2017 before local body for issuing lease deed, on the basis of unregd or insuff stamped instru exe before 31.05.13 and presented for regn on or before 31.12.2017(Female SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-444'
									>
								Lease deed u/s 90A of RLR Act in fav of person in pursuance of his appln. or rec of soc subtd on or bef. 30.11.2017 before local body for issue lease deed, on the basis of unreg. or insuff. stamped instru. exe bef. 31.05.13 and presented for regn on or bef. 31.12.2017(Female other than SC ST BPL) [33(vii)]</option>
								
								<option value='RJ-RG-284'
									>
								Lease deed u/s 90A of RLR Act in favor of Khatedar (Female SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-284'
									>
								Lease deed u/s 90A of RLR Act in favor of Khatedar (Female SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-285'
									>
								Lease deed u/s 90A of RLR Act in favor of Khatedar (Female other than SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-285'
									>
								Lease deed u/s 90A of RLR Act in favor of Khatedar (Female other than SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-283'
									>
								Lease deed u/s 90A of RLR Act in favor of Khatedar (Male) [33(vii)]</option>
								
								<option value='RJ-RG-283'
									>
								Lease deed u/s 90A of RLR Act in favor of Khatedar (Male) [33(c)(ii)]</option>
								
								<option value='RJ-RG-286'
									>
								Lease deed u/s 90A of RLR Act in favor of Khatedar (disabled) [33(c)(ii)]</option>
								
								<option value='RJ-RG-286'
									>
								Lease deed u/s 90A of RLR Act in favor of Khatedar (disabled) [33(vii)]</option>
								
								<option value='RJ-RG-447'
									>
								Lease deed u/s 90A of RLR Act, on the basis of unregd or insufficient stamped instru. Exec. on or before 31.05.13 but lease deed submitted for registration after 31.12.2017 (Male) [33(vii)]</option>
								
								<option value='RJ-RG-450'
									>
								Lease deed u/s 90A of RLR Act, on the basis of unregd. or insufficient stamped instrument exe. on or before 31.05.13 but lease deed submited for regn. after 31.12.2017 (Disable 40 % or above) [33(vii)]</option>
								
								<option value='RJ-RG-449'
									>
								Lease deed u/s 90A of RLR Act, on the basis of unregd. or insufficient stamped instrument exe. on or before 31.05.13 but lease deed submitted for regn. after 31.12.2017 (Female SC ST BPL) [33(vii)]</option>
								
								<option value='RJ-RG-448'
									>
								Lease deed u/s 90A of RLR Act, on the basis of unregd. or insufficient stamped instrument exe. on or before 31.05.13 but lease deed submitted for regn. after 31.12.2017(Female other than SC ST BPL) [33(vii)]</option>
								
								<option value='RJ-RG-294'
									>
								Lease deed u/s 90A of RLR Act, on the basis of unregistered or insufficient stamped instrument executed on or before 31.05.13 but lease deed submited for registration after 30.09.16 (Disable 40% or above) [33(c)(ii)]</option>
								
								<option value='RJ-RG-293'
									>
								Lease deed u/s 90A of RLR Act, on the basis of unregistered or insufficient stamped instrument executed on or before 31.05.13 but lease deed submitted for registration after 30.09.16 (Female SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-292'
									>
								Lease deed u/s 90A of RLR Act, on the basis of unregistered or insufficient stamped instrument executed on or before 31.05.13 but lease deed submitted for registration after 30.09.16 (Female other than SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-291'
									>
								Lease deed u/s 90A of RLR Act, on the basis of unregistered or insufficient stamped instrument executed on or before 31.05.13 but lease deed submitted for registration after 30.09.16 (Male) [33(c)(ii)]</option>
								
								<option value='RJ-RG-290'
									>
								Lease deed u/s 90A of RLR on the basis of registered or duly stamped document (Disable 40% and above) [33(c)(ii)]</option>
								
								<option value='RJ-RG-290'
									>
								Lease deed u/s 90A of RLR on the basis of registered or duly stamped document (Disable 40% and above) [33(vii)]</option>
								
								<option value='RJ-RG-288'
									>
								Lease deed u/s 90A of RLR on the basis of registered or duly stamped document (Female SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-288'
									>
								Lease deed u/s 90A of RLR on the basis of registered or duly stamped document (Female SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-289'
									>
								Lease deed u/s 90A of RLR on the basis of registered or duly stamped document (Female other than SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-289'
									>
								Lease deed u/s 90A of RLR on the basis of registered or duly stamped document (Female other than SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-287'
									>
								Lease deed u/s 90A of RLR on the basis of registered or duly stamped document (Male) [33(vii)]</option>
								
								<option value='RJ-RG-287'
									>
								Lease deed u/s 90A of RLR on the basis of registered or duly stamped document (Male) [33(c)(ii)]</option>
								
								<option value='RJ-RG-260'
									>
								Lease exceeding 20 years granted for a fine or premium or advance alongwith rent (Female SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-261'
									>
								Lease exceeding 20 years granted for a fine or premium or advance alongwith rent (Female other than SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-259'
									>
								Lease exceeding 20 years granted for a fine or premium or advance alongwith rent (Male) [33(c)(ii)]</option>
								
								<option value='RJ-RG-262'
									>
								Lease exceeding 20 years granted for a fine or premium or advance alongwith rent (disabled) [33(c)(ii)]</option>
								
								<option value='RJ-RG-248'
									>
								Lease exceeding 20 years granted for a fine or premium or advance and no rent reserved (Female SC/ST/BPL) [33(b)(ii)]</option>
								
								<option value='RJ-RG-249'
									>
								Lease exceeding 20 years granted for a fine or premium or advance and no rent reserved (Female other than SC/ST/BPL) [33(b)(ii)]</option>
								
								<option value='RJ-RG-247'
									>
								Lease exceeding 20 years granted for a fine or premium or advance and no rent reserved (Male) [33(b)(ii)]</option>
								
								<option value='RJ-RG-250'
									>
								Lease exceeding 20 years granted for a fine or premium or advance and no rent reserved (disabled) [33(b)(ii)]</option>
								
								<option value='RJ-RG-233'
									>
								Lease from 1 year to 10 years- where rent is fixed and no premium is paid [33(a)(ii)]</option>
								
								<option value='RJ-RG-234'
									>
								Lease from 10 year to 20 years- where rent is fixed and no premium is paid [33(a)(ii)]</option>
								
								<option value='RJ-RG-236'
									>
								Lease from 10 year to 20 years- where rent is fixed and no premium is paid (Female SC/ST/BPL) [33(a)(ii)]</option>
								
								<option value='RJ-RG-237'
									>
								Lease from 10 year to 20 years- where rent is fixed and no premium is paid (Female other than SC/ST/BPL) [33(a)(ii)]</option>
								
								<option value='RJ-RG-238'
									>
								Lease from 10 year to 20 years- where rent is fixed and no premium is paid (disabled) [33(a)(ii)]</option>
								
								<option value='RJ-RG-232'
									>
								Lease of less than 1 year- where rent is fixed and no premium is paid [33(a)(i)]</option>
								
								<option value='RJ-RG-256'
									>
								Lease upto 20 years granted for a fine or premium or advance alongwith rent (Female SC/ST/BPL) [33(c)(i)]</option>
								
								<option value='RJ-RG-257'
									>
								Lease upto 20 years granted for a fine or premium or advance alongwith rent (Female other than SC/ST/BPL) [33(c)(i)]</option>
								
								<option value='RJ-RG-255'
									>
								Lease upto 20 years granted for a fine or premium or advance alongwith rent (Male) [33(c)(i)]</option>
								
								<option value='RJ-RG-258'
									>
								Lease upto 20 years granted for a fine or premium or advance alongwith rent (disabled) [33(c)(i)]</option>
								
								<option value='RJ-RG-244'
									>
								Lease upto 20 years granted for a fine or premium or advance and no rent reserved (Female SC/ST/BPL) [33(b)(i)]</option>
								
								<option value='RJ-RG-245'
									>
								Lease upto 20 years granted for a fine or premium or advance and no rent reserved (Female other than SC/ST/BPL) [33(b)(i)]</option>
								
								<option value='RJ-RG-243'
									>
								Lease upto 20 years granted for a fine or premium or advance and no rent reserved (Male) [33(b)(i)]</option>
								
								<option value='RJ-RG-246'
									>
								Lease upto 20 years granted for a fine or premium or advance and no rent reserved (disabled) [33(b)(i)]</option>
								
								<option value='RJ-RG-268'
									>
								Lease/Sale deed by Govt., ULBs or Govt. Enterprises of its own land (Female SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-268'
									>
								Lease/Sale deed by Govt., ULBs or Govt. Enterprises of its own land (Female SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-269'
									>
								Lease/Sale deed by Govt., ULBs or Govt. Enterprises of its own land (Female other than SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-269'
									>
								Lease/Sale deed by Govt., ULBs or Govt. Enterprises of its own land (Female other than SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-267'
									>
								Lease/Sale deed by Govt., ULBs or Govt. Enterprises of its own land (Male) [33(c)(ii)]</option>
								
								<option value='RJ-RG-267'
									>
								Lease/Sale deed by Govt., ULBs or Govt. Enterprises of its own land (Male) [33(vii)]</option>
								
								<option value='RJ-RG-270'
									>
								Lease/Sale deed by Govt., ULBs or Govt. Enterprises of its own land (disabled) [33(c)(ii)]</option>
								
								<option value='RJ-RG-270'
									>
								Lease/Sale deed by Govt., ULBs or Govt. Enterprises of its own land (disabled) [33(vii)]</option>
								
								<option value='RJ-RG-274'
									>
								Lease/Sale deed, allotment by local bodies, presented after 2 months but before 4 months (Disable 40% and above) [33(vii)]</option>
								
								<option value='RJ-RG-274'
									>
								Lease/Sale deed, allotment by local bodies, presented after 2 months but before 4 months (Disable 40% and above) [33(c)(ii)]</option>
								
								<option value='RJ-RG-272'
									>
								Lease/Sale deed, allotment by local bodies, presented after 2 months but before 4 months (Female SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-272'
									>
								Lease/Sale deed, allotment by local bodies, presented after 2 months but before 4 months (Female SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-273'
									>
								Lease/Sale deed, allotment by local bodies, presented after 2 months but before 4 months (Female other than SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-273'
									>
								Lease/Sale deed, allotment by local bodies, presented after 2 months but before 4 months (Female other than SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-271'
									>
								Lease/Sale deed, allotment by local bodies, presented after 2 months but before 4 months (Male) [33(vii)]</option>
								
								<option value='RJ-RG-271'
									>
								Lease/Sale deed, allotment by local bodies, presented after 2 months but before 4 months (Male) [33(c)(ii)]</option>
								
								<option value='RJ-RG-278'
									>
								Lease/Sale deed, allotment by local bodies, presented after 4 months but before 8 months (Disable 40% and above) [33(vii)]</option>
								
								<option value='RJ-RG-278'
									>
								Lease/Sale deed, allotment by local bodies, presented after 4 months but before 8 months (Disable 40% and above) [33(c)(ii)]</option>
								
								<option value='RJ-RG-276'
									>
								Lease/Sale deed, allotment by local bodies, presented after 4 months but before 8 months (Female SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-276'
									>
								Lease/Sale deed, allotment by local bodies, presented after 4 months but before 8 months (Female SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-277'
									>
								Lease/Sale deed, allotment by local bodies, presented after 4 months but before 8 months (Female other than SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-277'
									>
								Lease/Sale deed, allotment by local bodies, presented after 4 months but before 8 months (Female other than SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-275'
									>
								Lease/Sale deed, allotment by local bodies, presented after 4 months but before 8 months (Male) [33(c)(ii)]</option>
								
								<option value='RJ-RG-275'
									>
								Lease/Sale deed, allotment by local bodies, presented after 4 months but before 8 months (Male) [33(vii)]</option>
								
								<option value='RJ-RG-282'
									>
								Lease/Sale deed, allotment by local bodies, presented after 8 months and revalidate by local bodies (Disable 40% and above) [33(c)(ii)]</option>
								
								<option value='RJ-RG-282'
									>
								Lease/Sale deed, allotment by local bodies, presented after 8 months and revalidate by local bodies (Disable 40% and above) [33(vii)]</option>
								
								<option value='RJ-RG-280'
									>
								Lease/Sale deed, allotment by local bodies, presented after 8 months and revalidate by local bodies (Female SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-280'
									>
								Lease/Sale deed, allotment by local bodies, presented after 8 months and revalidate by local bodies (Female SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-281'
									>
								Lease/Sale deed, allotment by local bodies, presented after 8 months and revalidate by local bodies (Female other than SC/ST/BPL) [33(vii)]</option>
								
								<option value='RJ-RG-281'
									>
								Lease/Sale deed, allotment by local bodies, presented after 8 months and revalidate by local bodies (Female other than SC/ST/BPL) [33(c)(ii)]</option>
								
								<option value='RJ-RG-299'
									>
								Lease: Order of land use change [33(vii)]</option>
								
								<option value='RJ-RG-299'
									>
								Lease: Order of land use change  [33(c)(ii)]</option>
								
								<option value='RJ-RG-300'
									>
								Lease:Order of conversion of land [33(vii)]</option>
								
								<option value='RJ-RG-300'
									>
								Lease:Order of conversion of land  [33(c)(ii)]</option>
								
								<option value='RJ-RG-125'
									>
								Leave and Licence Agreement other than residential [33A]</option>
								
								<option value='RJ-RG-458'
									>
								Leave and License 1 year to 5 year [33A(ii)]</option>
								
								<option value='RJ-RG-326'
									>
								Leave and License Agreement 1 year to 10 years (only for rent) [33A]</option>
								
								<option value='RJ-RG-304'
									>
								Leave and License Agreement > 1 year to 20 year (disabled) [33A]</option>
								
								<option value='RJ-RG-302'
									>
								Leave and License Agreement > 1 year to 20 year (female SC/ST/BPL) [33A]</option>
								
								<option value='RJ-RG-301'
									>
								Leave and License Agreement > 1 year to 20 year (male) [33A]</option>
								
								<option value='RJ-RG-303'
									>
								Leave and License Agreement > 1 year to 20 year (other than female SC/ST/BPL) [33A]</option>
								
								<option value='RJ-RG-325'
									>
								Leave and License Agreement below 1 year (only for rent) [33A]</option>
								
								<option value='RJ-RG-321'
									>
								Leave and License Agreement more 20 years or in perpetuity or terms not mentioned (male) [33A]</option>
								
								<option value='RJ-RG-306'
									>
								Leave and License Agreement more than 20 years or in perpetuity or terms not mentioned (Female SC/ST/BPL) [33A]</option>
								
								<option value='RJ-RG-308'
									>
								Leave and License Agreement more than 20 years or in perpetuity or terms not mentioned (disabled) [33A]</option>
								
								<option value='RJ-RG-305'
									>
								Leave and License Agreement more than 20 years or in perpetuity or terms not mentioned (male) [33A]</option>
								
								<option value='RJ-RG-307'
									>
								Leave and License Agreement more than 20 years or in perpetuity or terms not mentioned (other than female SC/ST/BPL) [33A]</option>
								
								<option value='RJ-RG-311'
									>
								Leave and License Agreement up to 20 years (Female SC/ST/BPL) [33A]</option>
								
								<option value='RJ-RG-312'
									>
								Leave and License Agreement up to 20 years (disabled) [33A]</option>
								
								<option value='RJ-RG-309'
									>
								Leave and License Agreement up to 20 years (male) [33A]</option>
								
								<option value='RJ-RG-310'
									>
								Leave and License Agreement up to 20 years (other than female SC/ST/BPL) [33A]</option>
								
								<option value='RJ-RG-330'
									>
								Leave and License Agreement upto 10 years (premium, security and others is non refundable in addition to rent) (for other than residential) [33A]</option>
								
								<option value='RJ-RG-328'
									>
								Leave and License Agreement upto 10 years (premium, security and others is refundable in addition to rent) (for other than residential) [33A]</option>
								
								<option value='RJ-RG-327'
									>
								Leave and License Agreement upto 10 years (premium, security and others is refundable in addition to rent) (for residential) [33A]</option>
								
								<option value='RJ-RG-329'
									>
								Leave and License Agreement upto 10 yrs (premium, security and others is non refundable in addition to rent) (for residential) [33A]</option>
								
								<option value='RJ-RG-457'
									>
								Leave and License below 1 year [33A(i)]</option>
								
								<option value='RJ-RG-460'
									>
								Leave and License exceeding 10 year to 15 year [33A(iv)]</option>
								
								<option value='RJ-RG-461'
									>
								Leave and License exceeding 15 year to 20 year [33A(v)]</option>
								
								<option value='RJ-RG-462'
									>
								Leave and License exceeding 20 year to 30 year [33A(vi)]</option>
								
								<option value='RJ-RG-463'
									>
								Leave and License exceeding 20 year to 30 year (Female SC/ST/BPL) [33A(vi)]</option>
								
								<option value='RJ-RG-464'
									>
								Leave and License exceeding 30 year and perpetual [33A(vii)]</option>
								
								<option value='RJ-RG-467'
									>
								Leave and License exceeding 30 year and perpetual (Disable 40% and above) [33A(vii)]</option>
								
								<option value='RJ-RG-466'
									>
								Leave and License exceeding 30 year and perpetual (Female SC/ST/BPL) [33A(vii)]</option>
								
								<option value='RJ-RG-465'
									>
								Leave and License exceeding 30 year and perpetual (Female other than SC/ST/BPL) [33A(vii)]</option>
								
								<option value='RJ-RG-459'
									>
								Leave and License exceeding 5 year to 10 year [33A(iii)]</option>
								
								<option value='RJ-RG-80'
									>
								Letter of License [35]</option>
								
								<option value='RJ-RG-126'
									>
								Letter of allotment of share [34]</option>
								
								<option value='RJ-RG-87'
									>
								Licence relating to arms or ammunitions on following Forms as set out in Schedule III to the Arms Rules, 1962 - Form XI [35A(b)(i)]</option>
								
								<option value='RJ-RG-88'
									>
								Licence relating to arms or ammunitions on following Forms as set out in Schedule III to the Arms Rules, 1962 - Form XII [35A(b)(ii)]</option>
								
								<option value='RJ-RG-89'
									>
								Licence relating to arms or ammunitions on following Forms as set out in Schedule III to the Arms Rules, 1962 - Form XIII [35A(b)(iii)]</option>
								
								<option value='RJ-RG-90'
									>
								Licence relating to arms or ammunitions on following Forms as set out in Schedule III to the Arms Rules, 1962 - Form XIV [35A(b)(iv)]</option>
								
								<option value='RJ-RG-81'
									>
								Licence relating to arms or ammunitions, under the provisions of the Arms Act, 1959 (Central Act no. 54 of 1959) [35A]</option>
								
								<option value='RJ-RG-84'
									>
								Licence relating to following arms:-DBBL Weapons [35A(a)(iii)]</option>
								
								<option value='RJ-RG-86'
									>
								Licence relating to following arms:-ML Weapons [35A(a)(v)]</option>
								
								<option value='RJ-RG-82'
									>
								Licence relating to following arms:-Revolvers or pistols [35A(a)(i)]</option>
								
								<option value='RJ-RG-83'
									>
								Licence relating to following arms:-Rifles [35A(a)(ii)]</option>
								
								<option value='RJ-RG-85'
									>
								Licence relating to following arms:-SBBL Weapons [35A(a)(iv)]</option>
								
								<option value='RJ-RG-147'
									>
								Limited Liability Partnership (LLP) [35B(1)]</option>
								
								<option value='RJ-RG-151'
									>
								Loan Agreement [5(d)]</option>
								
								<option value='RJ-RG-153'
									>
								Loan Agreement for educational purpose exceeding rupees ten lakh [5(d)]</option>
								
								<option value='RJ-RG-152'
									>
								Loan Agreement for educational purpose up to rupees ten lakh [5(d)]</option>
								
								<option value='RJ-RG-155'
									>
								Loan Agreement to Start-Up exceeding rupees ten lakh [5(d)]</option>
								
								<option value='RJ-RG-154'
									>
								Loan Agreement to Start-Up, up to rupees ten lakh [5(d)]</option>
								
								<option value='RJ-RG-156'
									>
								Loan Agreement under (MUDRA Yojna up to rupees ten lakh [5(d)]</option>
								
								<option value='RJ-RG-157'
									>
								Loan Agreement under MUDRA Yojna exceeding rupees ten lakh [5(d)]</option>
								
								<option value='RJ-RG-76'
									>
								Memorandum of association of a Company [36]</option>
								
								<option value='RJ-RG-338'
									>
								Memorandum of association of a company if accompanied by articles of association under section 26 of the Companies Act, 1956. [36(a)]</option>
								
								<option value='RJ-RG-339'
									>
								Memorandum of association of a company if not accompanied [36(b)]</option>
								
								<option value='RJ-RG-54'
									>
								Mining Lease [33(c)(ii)]</option>
								
								<option value='RJ-RG-54'
									>
								Mining Lease [33]</option>
								
								<option value='RJ-RG-67'
									>
								Miscellaneous Documents [00]</option>
								
								<option value='RJ-RG-351'
									>
								Mortgage Deed : for every Rs. 1000 or part thereof secured in excess Rs. 1000 [37(c)]</option>
								
								<option value='RJ-RG-350'
									>
								Mortgage Deed : for every sum secured not exceeding Rs. 1000 [37(c)]</option>
								
								<option value='RJ-RG-48'
									>
								Mortgage Deed Government Servant [37]</option>
								
								<option value='RJ-RG-48'
									>
								Mortgage Deed Government Servant [6(2)]</option>
								
								<option value='RJ-RG-344'
									>
								Mortgage Deed Government servant [37(b)]</option>
								
								<option value='RJ-RG-50'
									>
								Mortgage Deed by servants of registered institution for housing loan [37]</option>
								
								<option value='RJ-RG-50'
									>
								Mortgage Deed by servants of registered institution for housing loan [6(2)]</option>
								
								<option value='RJ-RG-343'
									>
								Mortgage Deed for obtaining loan for non agriculture purpose from bank or cooperative society [37(b)]</option>
								
								<option value='RJ-RG-349'
									>
								Mortgage Deed in f/o any financial institution, bank or coperative society loan for construction or purchase of house/flat or making addition/ alteration executed by war widow [37(b)]</option>
								
								<option value='RJ-RG-342'
									>
								Mortgage Deed in f/o govt., any fin. Inst, bank or coperative society loan for construction or purchase of house or flat (without possession) [37(b)]</option>
								
								<option value='RJ-RG-49'
									>
								Mortgage Deed of Housing Loan from Bank/Corporation [37]</option>
								
								<option value='RJ-RG-49'
									>
								Mortgage Deed of Housing Loan from Bank/Corporation [6(2)]</option>
								
								<option value='RJ-RG-340'
									>
								Mortgage Deed with possession [37(a)]</option>
								
								<option value='RJ-RG-28'
									>
								Mortgage Deed with possession [37]</option>
								
								<option value='RJ-RG-28'
									>
								Mortgage Deed with possession [37(a)]</option>
								
								<option value='RJ-RG-19'
									>
								Mortgage Deed without possession [37]</option>
								
								<option value='RJ-RG-19'
									>
								Mortgage Deed without possession [37(b)]</option>
								
								<option value='RJ-RG-341'
									>
								Mortgage Deed without possession [37(b)]</option>
								
								<option value='RJ-RG-57'
									>
								Mortgage for Agriculture purpose [37]</option>
								
								<option value='RJ-RG-346'
									>
								Mortgage for Agriculture purpose [37(b)]</option>
								
								<option value='RJ-RG-57'
									>
								Mortgage for Agriculture purpose [6(2)]</option>
								
								<option value='RJ-RG-56'
									>
								Mortgage for Housing loan in LIG [37]</option>
								
								<option value='RJ-RG-56'
									>
								Mortgage for Housing loan in LIG [6(2)]</option>
								
								<option value='RJ-RG-63'
									>
								Mortgage for Non-Agriculture Purpose from Bank and Any Financial Institution [37]</option>
								
								<option value='RJ-RG-63'
									>
								Mortgage for Non-Agriculture Purpose from Bank and Any Financial Institution [6(2)]</option>
								
								<option value='RJ-RG-127'
									>
								Mortgage of a crop [38]</option>
								
								<option value='RJ-RG-43'
									>
								Movable Property [21 (ii)]</option>
								
								<option value='RJ-RG-263'
									>
								New Mining Lease [33(vii)]</option>
								
								<option value='RJ-RG-263'
									>
								New Mining Lease  [33(c)(ii)]</option>
								
								<option value='RJ-RG-264'
									>
								New Mining Lease granted through auction [33(vii)]</option>
								
								<option value='RJ-RG-264'
									>
								New Mining Lease granted through auction [33(c)]</option>
								
								<option value='RJ-RG-254'
									>
								Non Residential Lease upto 10 years granted for a fine or premium or advance (non-refundable) alongwith rent  [33(c)]</option>
								
								<option value='RJ-RG-252'
									>
								Non Residential Lease upto 10 years granted for a fine or premium or advance (refundable) alongwith rent  [33(c)]</option>
								
								<option value='RJ-RG-128'
									>
								Notarial Act [39]</option>
								
								<option value='RJ-RG-129'
									>
								Note of protest by the master of a ship [41]</option>
								
								<option value='RJ-RG-77'
									>
								Note or Memorandum [40]</option>
								
								<option value='RJ-RG-356'
									>
								Partition (Ancestral) [42]</option>
								
								<option value='RJ-RG-58'
									>
								Partition (Ancestral) (max 10,000) [42]</option>
								
								<option value='RJ-RG-352'
									>
								Partition (Non-Ancestral) [42]</option>
								
								<option value='RJ-RG-353'
									>
								Partition (Non-Ancestral) (Female SC/ST/BPL) [42]</option>
								
								<option value='RJ-RG-354'
									>
								Partition (Non-Ancestral) (Female other than SC/ST/BPL) [42]</option>
								
								<option value='RJ-RG-355'
									>
								Partition (Non-Ancestral) (disable 40% or above) [42]</option>
								
								<option value='RJ-RG-29'
									>
								Partition Deed (Above 50,000) [42]</option>
								
								<option value='RJ-RG-59'
									>
								Partition Deed of Ancestral Agriculture Land [42]</option>
								
								<option value='RJ-RG-20'
									>
								Partnership Deed [43]</option>
								
								<option value='RJ-RG-361'
									>
								Partnership- Dissolution of partnership or retirement of partner : (b) in any other case. [43(2)(b)]</option>
								
								<option value='RJ-RG-360'
									>
								Partnership- Dissolution of partnership or retirement of partner :- Where on a dissolution of the partnership or on retirement of a partner any property is taken as his share by a partner other than a partner who brought in that property as his share of contribution in the partnership [43(2)(a)]</option>
								
								<option value='RJ-RG-357'
									>
								Partnership- Instrument of partnership :- (a) below 50,000/- [43(1)(a)]</option>
								
								<option value='RJ-RG-358'
									>
								Partnership- Instrument of partnership :- (b) excess of Rs. 50,000/-, for every Rs. 50,000/- or part thereof; [43(1)(b)]</option>
								
								<option value='RJ-RG-359'
									>
								Partnership- Instrument of partnership :- (c) Where such share contribution is brought in by way of immovable property [43(1)(c)]</option>
								
								<option value='RJ-RG-33'
									>
								Power of Attorney (Consideration) [44]</option>
								
								<option value='RJ-RG-33'
									>
								Power of Attorney (Consideration) [44(e)]</option>
								
								<option value='RJ-RG-31'
									>
								Power of Attorney (Special) [44(a)]</option>
								
								<option value='RJ-RG-31'
									>
								Power of Attorney (Special) [44]</option>
								
								<option value='RJ-RG-362'
									>
								Power of Attorney :- Authentication Power of Attorney [44(b)]</option>
								
								<option value='RJ-RG-366'
									>
								Power of Attorney :- In any other case [44(f)]</option>
								
								<option value='RJ-RG-21'
									>
								Power of Attorney General (other than blood) for Transfer of Immovable Property except Sale [44(ee)(ii)]</option>
								
								<option value='RJ-RG-21'
									>
								Power of Attorney General (other than blood) for Transfer of Immovable Property except Sale [44]</option>
								
								<option value='RJ-RG-32'
									>
								Power of Attorney General (within Blood) [44(ee)(i)]</option>
								
								<option value='RJ-RG-32'
									>
								Power of Attorney General (within Blood) [44]</option>
								
								<option value='RJ-RG-44'
									>
								Power of Attorney for Sale Of Immovable Property (Other than Blood) [44]</option>
								
								<option value='RJ-RG-44'
									>
								Power of Attorney for Sale Of Immovable Property (Other than Blood) [44(ee)(ii)]</option>
								
								<option value='RJ-RG-45'
									>
								Power of Attorney for Sale Of Immovable Property (Within Blood relation) [44]</option>
								
								<option value='RJ-RG-363'
									>
								Power of Attorney when given for consideration and authorizing the attorney to sell any immovable property; (Female SC/ST/BPL) [44(e)]</option>
								
								<option value='RJ-RG-133'
									>
								Power of Attorney-when authorizing more than five persons but not more than ten persons to act jointly and severally in more than one transaction or generally [44(d)]</option>
								
								<option value='RJ-RG-132'
									>
								Power of Attorney-when authorizing not more than five persons to act jointly and severally in more than one transaction or generally [44(c)]</option>
								
								<option value='RJ-RG-131'
									>
								Power of Attorney-when authorizing one person or more to act in single transaction other than the case mentioned in clause (a) [44(b)]</option>
								
								<option value='RJ-RG-130'
									>
								Power of Attorney-when executed for the sole purpose of procuring the registration of one or more documents in relation to a single transaction or for admitting execution of one or more such documents [44(a)]</option>
								
								<option value='RJ-RG-134'
									>
								Power of Attorney-when given for consideration and authorizing the attorney to sell any immovable property [44(e)]</option>
								
								<option value='RJ-RG-365'
									>
								Power of Attorney:when given for consideration and auth. the attorney to sell any immovable property; (Disable 40% or above) [44(e)]</option>
								
								<option value='RJ-RG-364'
									>
								Power of Attorney:when given for consideration and auth. the attorney to sell any immovable property; (Female other than SC/ST/BPL) [44(e)]</option>
								
								<option value='RJ-RG-137'
									>
								Power of attorney When given to promoter or developer by whatever name called for construction on, or development of, or sale or transfer (in any manner whatsoever) of, any immovable property [44(eee)]</option>
								
								<option value='RJ-RG-139'
									>
								Protest by the master of  a ship [46]</option>
								
								<option value='RJ-RG-138'
									>
								Protest of Bill or Note [45]</option>
								
								<option value='RJ-RG-64'
									>
								RIICO Sick Unit (Industrial) [21(i)]</option>
								
								<option value='RJ-RG-64'
									>
								RIICO Sick Unit (Industrial) [21]</option>
								
								<option value='RJ-RG-60'
									>
								Re-Conveyance of Mortgage by Government in case of house loan [47]</option>
								
								<option value='RJ-RG-34'
									>
								Re-conveyance of Mortgaged Property [47]</option>
								
								<option value='RJ-RG-368'
									>
								Re-conveyance of mortgage where consideration is more than Rs. 1000 [47(b)]</option>
								
								<option value='RJ-RG-367'
									>
								Re-conveyance of mortgaged if the consideration not exceed Rs. 1000 [47(a)]</option>
								
								<option value='RJ-RG-108'
									>
								Record of Transaction (Electronics or otherwise)-if relating to forward contracts of commodities traded through an association or otherwise [5A(d)]</option>
								
								<option value='RJ-RG-107'
									>
								Record of Transaction (Electronics or otherwise)-if relating to futures and options trading [5A(c)]</option>
								
								<option value='RJ-RG-106'
									>
								Record of Transaction (Electronics or otherwise)-relating to purchase of sale of securities, other than those falling under item 5A(a) [5A(b)]</option>
								
								<option value='RJ-RG-105'
									>
								Record of Transaction (Electronics or otherwise)-relating to sale of purchase of Government securities [5A(a)]</option>
								
								<option value='RJ-RG-169'
									>
								Record of Transaction if relating to options trading where option is exercised [5A(b)(ii)]</option>
								
								<option value='RJ-RG-168'
									>
								Record of Transaction if relating to options trading where option is not exercised [5A(b)(i)]</option>
								
								<option value='RJ-RG-399'
									>
								Record of transaction if relating to forward contracts of non-agriculture commodities traded through an association or otherwise. [5A(c)]</option>
								
								<option value='RJ-RG-170'
									>
								Record of transaction if relating to sale of a futures in securities [5A(c) ]</option>
								
								<option value='RJ-RG-140'
									>
								Release Deed [48(i)]</option>
								
								<option value='RJ-RG-35'
									>
								Release Deed (Ancestral) in 6 close relation [48]</option>
								
								<option value='RJ-RG-35'
									>
								Release Deed (Ancestral) in 6 close relation [48(a)]</option>
								
								<option value='RJ-RG-42'
									>
								Release Deed (Ancestral) in other than 6 close relation [48]</option>
								
								<option value='RJ-RG-36'
									>
								Release Deed (Non Ancestral) [48(b)]</option>
								
								<option value='RJ-RG-36'
									>
								Release Deed (Non Ancestral) [48]</option>
								
								<option value='RJ-RG-158'
									>
								Release Deed (ancestral property) [5(c)]</option>
								
								<option value='RJ-RG-370'
									>
								Release Deed of ancestral property of the value of Rs. 5.00 lacs to 10.00 lacs  [48(a)]</option>
								
								<option value='RJ-RG-371'
									>
								Release Deed of ancestral property of the value of rupees more than 10.00 lacs  [48(a)]</option>
								
								<option value='RJ-RG-369'
									>
								Release Deed of ancestral property of the value of upto Rs. 5.00 lacs  [48(a)]</option>
								
								<option value='RJ-RG-372'
									>
								Release Deed of non-ancestral property  [48(b)]</option>
								
								<option value='RJ-RG-373'
									>
								Release Deed of non-ancestral property (Female SC/ST/BPL) [48(b)]</option>
								
								<option value='RJ-RG-374'
									>
								Release Deed of non-ancestral property (Female other than SC/ST/BPL)  [48(b)]</option>
								
								<option value='RJ-RG-375'
									>
								Release Deed of non-ancestral property (disabled)  [48(b)]</option>
								
								<option value='RJ-RG-177'
									>
								Renewable of Bank Guarantee [13A]</option>
								
								<option value='RJ-RG-265'
									>
								Renewal of Mining Lease [33(vii)]</option>
								
								<option value='RJ-RG-265'
									>
								Renewal of Mining Lease  [33(c)]</option>
								
								<option value='RJ-RG-96'
									>
								Renewal of licence relating to arms or ammunitions on following Forms as set out in Schedule III to the Arms Rules, 1962- Form XI [35A(d)(i)]</option>
								
								<option value='RJ-RG-97'
									>
								Renewal of licence relating to arms or ammunitions on following Forms as set out in Schedule III to the Arms Rules, 1962- Form XII [35A(d)(ii)]</option>
								
								<option value='RJ-RG-98'
									>
								Renewal of licence relating to arms or ammunitions on following Forms as set out in Schedule III to the Arms Rules, 1962- Form XIII [35A(d)(iii)]</option>
								
								<option value='RJ-RG-99'
									>
								Renewal of licence relating to arms or ammunitions on following Forms as set out in Schedule III to the Arms Rules, 1962- Form XIV [35A(d)(iv)]</option>
								
								<option value='RJ-RG-93'
									>
								Renewal of licence relating to following arms-DBBL Weapons [35A(c)(iii)]</option>
								
								<option value='RJ-RG-95'
									>
								Renewal of licence relating to following arms-ML Weapons [35A(c)(v)]</option>
								
								<option value='RJ-RG-91'
									>
								Renewal of licence relating to following arms-Revolvers or pistols [35A(c)(i)]</option>
								
								<option value='RJ-RG-92'
									>
								Renewal of licence relating to following arms-Rifles [35A(c)(ii)]</option>
								
								<option value='RJ-RG-94'
									>
								Renewal of licence relating to following arms-SBBL Weapons [35A(c)(iv)]</option>
								
								<option value='RJ-RG-253'
									>
								Residential Lease upto 10 years granted for a fine or premium or advance (non-refundable) alongwith rent  [33(c)]</option>
								
								<option value='RJ-RG-251'
									>
								Residential Lease upto 10 years granted for a fine or premium or advance (refundable) alongwith rent  [33(c)]</option>
								
								<option value='RJ-RG-141'
									>
								Respondentia Bond [49]</option>
								
								<option value='RJ-RG-279'
									>
								Revalidated Lease/Sale deed by Govt., ULBs or Govt. Enterprises of its own land [33(vii)]</option>
								
								<option value='RJ-RG-279'
									>
								Revalidated Lease/Sale deed by Govt., ULBs or Govt. Enterprises of its own land  [33(c)(ii)]</option>
								
								<option value='RJ-RG-345'
									>
								Reverse Mortgage for senior citizen [37(b)]</option>
								
								<option value='RJ-RG-384'
									>
								Revocation of non- religious/charitable settlement, in respect of immovable property [51(B)(ii)]</option>
								
								<option value='RJ-RG-385'
									>
								Revocation of non- religious/charitable settlement, in respect of other property [51(B)(ii)]</option>
								
								<option value='RJ-RG-383'
									>
								Revocation of religious/charitable settlement [51(B)(i)]</option>
								
								<option value='RJ-RG-142'
									>
								Revocation of settlement [51(B)(i)]</option>
								
								<option value='RJ-RG-396'
									>
								Revocation of trust [56(B)]</option>
								
								<option value='RJ-RG-47'
									>
								Sale Deed [21]</option>
								
								<option value='RJ-RG-9'
									>
								Sale Deed (Conveyance Deed) [21]</option>
								
								<option value='RJ-RG-193'
									>
								Sale Deed (Conveyance Deed) [21(i)]</option>
								
								<option value='RJ-RG-196'
									>
								Sale Deed (Disable 40% or above) [21(i)]</option>
								
								<option value='RJ-RG-194'
									>
								Sale Deed (Female SC/ST/BPL) [21(i)]</option>
								
								<option value='RJ-RG-195'
									>
								Sale Deed (Female other than SC/ST/BPL) [21(i)]</option>
								
								<option value='RJ-RG-46'
									>
								Sale Deed for Female / 40% and above Disable (Conveyance Deed) [21]</option>
								
								<option value='RJ-RG-46'
									>
								Sale Deed for Female / 40% and above Disable (Conveyance Deed) [21(i)]</option>
								
								<option value='RJ-RG-198'
									>
								Sale deed of a unit in multistory building exceeding 4 floors within 1 year from first registration [21(i)]</option>
								
								<option value='RJ-RG-199'
									>
								Sale deed of a unit in multistory building exceeding 4 floors within 2 years from first registration [21(i)]</option>
								
								<option value='RJ-RG-200'
									>
								Sale deed of a unit in multistory building exceeding 4 floors within 3 years from first registration [21(i)]</option>
								
								<option value='RJ-RG-201'
									>
								Sale deeds by sponsoring body to private university  [21(i)]</option>
								
								<option value='RJ-RG-204'
									>
								Sale/Lease deed issued by ULBs under Affordable Housing Policy in favour of EWS [21(i)]</option>
								
								<option value='RJ-RG-205'
									>
								Sale/Lease deed issued by ULBs under Affordable Housing Policy in favour of LIG [21(i)]</option>
								
								<option value='RJ-RG-202'
									>
								Sale/Lease deed issued by ULBs under CMJAY 2015 in favour of EWS [21(i)]</option>
								
								<option value='RJ-RG-203'
									>
								Sale/Lease deed issued by ULBs under CMJAY 2015 in favour of LIG [21(i)]</option>
								
								<option value='RJ-RG-17'
									>
								Security [50]</option>
								
								<option value='RJ-RG-17'
									>
								Security Bond [50]</option>
								
								<option value='RJ-RG-22'
									>
								Settlement [51]</option>
								
								<option value='RJ-RG-61'
									>
								Settlement (In favour of family members) [51]</option>
								
								<option value='RJ-RG-376'
									>
								Settlement/dower for religious/charitable purpose [51(A)(i)]</option>
								
								<option value='RJ-RG-377'
									>
								Settlement/dower not for religious/charitable purpose, in respect of immovable property [51(A)(ii)]</option>
								
								<option value='RJ-RG-379'
									>
								Settlement/dower not for religious/charitable purpose, in respect of immovable property (Female other than SC/ST/BPL) [51(A)(ii)]</option>
								
								<option value='RJ-RG-380'
									>
								Settlement/dower not for religious/charitable purpose, in respect of immovable property(Disable) [51(A)(ii)]</option>
								
								<option value='RJ-RG-378'
									>
								Settlement/dower not for religious/charitable purpose, in respect of immovable property(Female SC/ST/BPL) [51(A)(ii)]</option>
								
								<option value='RJ-RG-381'
									>
								Settlement/dower not for religious/charitable purpose, in respect of other property [51(A)(ii)]</option>
								
								<option value='RJ-RG-78'
									>
								Share Warrant [52]</option>
								
								<option value='RJ-RG-143'
									>
								Shipping order [53]</option>
								
								<option value='RJ-RG-167'
									>
								Simple Agreement  [5(g)]</option>
								
								<option value='RJ-RG-11'
									>
								Supplementary Deed / Correction Deed [24]</option>
								
								<option value='RJ-RG-37'
									>
								Surrender of Lease [54]</option>
								
								<option value='RJ-RG-37'
									>
								Surrender of Lease [54(a)]</option>
								
								<option value='RJ-RG-38'
									>
								Transfer of Lease by way of assignment [55]</option>
								
								<option value='RJ-RG-388'
									>
								Transfer of Lease by way of assignment (Disable) [55]</option>
								
								<option value='RJ-RG-386'
									>
								Transfer of Lease by way of assignment (Female SC/ST/BPL) [55]</option>
								
								<option value='RJ-RG-387'
									>
								Transfer of Lease by way of assignment (Female other than SC/ST/BPL) [55]</option>
								
								<option value='RJ-RG-55'
									>
								Transfer of Mining Lease [55]</option>
								
								<option value='RJ-RG-266'
									>
								Transfer of Mining Lease [33(vii)]</option>
								
								<option value='RJ-RG-266'
									>
								Transfer of Mining Lease  [33(c)]</option>
								
								<option value='RJ-RG-119'
									>
								Transferable developement rights (TDR) [21]</option>
								
								<option value='RJ-RG-207'
									>
								Transferable development rights (TDR) [21(iv)]</option>
								
								<option value='RJ-RG-468'
									>
								Transffer of immovable property of sick enterprise as define in the Rajasthan Sick Micro and Small Enterprise (Revival and Rehabilitation) Scheme, 2015 [21(i)]</option>
								
								<option value='RJ-RG-23'
									>
								Trust Deed [56]</option>
								
								<option value='RJ-RG-23'
									>
								Trust Deed [56(a)]</option>
								
								<option value='RJ-RG-39'
									>
								Trust Revocation [56]</option>
								
								<option value='RJ-RG-39'
									>
								Trust Revocation [56(b)]</option>
								
								<option value='RJ-RG-389'
									>
								Trust for religious/charitable purpose having disposition of property [56(i)]</option>
								
								<option value='RJ-RG-395'
									>
								Trust no disposition of property [56(b)]</option>
								
								<option value='RJ-RG-390'
									>
								Trust not for religious/charitable purpose, having disposition of immovable property [56(ii)]</option>
								
								<option value='RJ-RG-393'
									>
								Trust not for religious/charitable purpose, having disposition of immovable property(Disable 40% or above) [56(ii)]</option>
								
								<option value='RJ-RG-391'
									>
								Trust not for religious/charitable purpose, having disposition of immovable property(Female SC/ST/BPL) [56(ii)]</option>
								
								<option value='RJ-RG-392'
									>
								Trust not for religious/charitable purpose, having disposition of immovable property(Female other than SC/ST/BPL) [56(ii)]</option>
								
								<option value='RJ-RG-394'
									>
								Trust not for religious/charitable purpose, having disposition of other property [56(ii)]</option>
								
								<option value='RJ-RG-144'
									>
								Warrant for goods [57]</option>
								
								<option value='RJ-RG-136'
									>
								When power of attorney is given without consideration to sell immovable property to -any other person [44(ee)(ii)]</option>
								
								<option value='RJ-RG-135'
									>
								When power of attorney is given without consideration to sell immovable property to -the father, mother, brother, sister, wife, husband, son, daughter, grandson or grand daughter of the executant [44(ee)(i)]</option>
								
								<option value='RJ-RG-123'
									>
								Where lease granted for a fine or premium or for money advanced or development charges or security charges advanced and no rent reserved [33(b)]</option>
								
								<option value='RJ-RG-124'
									>
								Where lease granted for a fine or premium or money advanced or development charges or security charges advanced in addition to the rent [33(c)]</option>
								
								<option value='RJ-RG-65'
									>
								Works Contract [58]</option>
								
							</select>
                    </legend>
					<legend>
						<label for="timestamp" >TimeStamp : </label>
						<input name="timestamp" type="datetime-local" id="timestamp" value="2018-04-19T04:52"> </legend>
					<legend>
                    <legend>
                        <label for="price">Price:</label>
                        <input id="price" name="price" type="number">
                    </legend>
						<label for="hash" >Hash : </label>
						<input name="hash" type="file" id="hash" value=""></legend>
					<!--<legend>
						<label for="key" >Key : </label>
						<input name="key" type="text" value="Stamp45" id="key"></legend>-->
					<legend id="attachLegend">
					<span> Attachments :</span> 
					<i class="fa fa-plus " id="addAttachRow"></i>
					<i class="fa fa-minus " id="deleteAttachRow"></i>
					<br>
					</legend>
					<!--
					<legend id="signLegend">
					<span> Signatures :</span> 
					<i class="fa fa-plus" id="addSignRow"></i>
					<br>
					</legend>-->
                    <div style="text-align:center; width:100%">
                    <button type="button" id="createStampButton"><span class="fa fa-plus-circle">&nbsp;&nbsp;</span><span>Create</span></button>
                    </div>
					
				</form>
			</div>
			 <div class="successStep">Step 1 Complete</div>
		   <br/><br/><button class="cnextStep" nextstepid="createStepTwo" hidden>Next Step</button>
		</div>
		<div class="stepWrap hidden"  id="createStepTwo">
			<div class="stepHeader"><span class="fa fa-user"></span><span>&nbsp;&nbsp;View Stamp</span></div>
		   <div class="stepDescription"><span>Verify the stamp details.</span><br/></div>
		   <div
			  class="loadingdiv">
			  <span></span><span></span><span></span><span></span><span></span>
			  <div></div>
		   </div>
			<div class="cstartupwrap" id="cStampdetail">
			
			</div>
			
			<div class="successStep">Step 2 Complete</div>
		   <br/><br/><button class="cnextStep" nextstepid="createStepThree">Next Step</button>
		</div>
		<div class="stepWrap hidden"  id="createStepThree">
			<div class="stepHeader"><span class="fa fa-user"></span><span>&nbsp;&nbsp;Process Stamp</span></div>
		   <div class="stepDescription"><span>Sign the stamp by your key or download to pass for others or submit to the chain.</span><br/></div>
		   <div
			  class="loadingdiv">
			  <span></span><span></span><span></span><span></span><span></span>
			  <div></div>
		   </div>
			<div class="cstartupWrap">
			<button id="signTransaction">Sign</button><br><br>
			<button id="downTransaction">Download</button><br><br>
			<button id="submitTransaction">Submit</button><br><br>
			</div>
			
		</div>
    </div>
</div>
