 <div id="createPanel" class="panel" hidden>
	<span class="fa fa-close" id="closeCreate">
	</span>
	<h2>Create Marble</h2>
	<hr>
	<div id="innerWrap">
		<span class="createStamp">
		</span>
		<form action="/app/api/create" method="POST" id="createform">
			<legend>
			</legend>
		</form>
	</div>
</div>
