<div class="panel" id="homePanel">
    <div>
        <div id="tips"><span>Add Your Tips</span></div>
        <div id="ownerWrap">
            <div id="toolbarWrap">
                <div class="bottomAlign"><input class="longer" type="text" placeholder="Search Marble Owners" style="margin-left: 0; border-radius:2px;" id="searchUsers" /><span class="hint" style="margin-left: 10px; font-size: 16px;"> <span id="foundUsers">0</span><span>/</span>
                    <span
                        id="totalUsers">0</span>
                        </span>
                </div><button disabled="disabled" id="showStartupPanel"><span class="fa fa-gears"></span><span>&nbsp; Start Up Help</span></button><span>&nbsp;&nbsp;</span><button disabled="disabled" id="showSettingsPanel"><span class="fa fa-gear"></span><span>&nbsp; Settings</span></button>
                <div
                    class="sortable innerMarbleWrap" id="trashbin">
                    <div class="fa fa-trash-o fa-3x" style="vertical-align: middle;"></div><span>&nbsp;</span>
                    <div id="trashText">Drag and drop Stamp to remove</div>
            </div>
        </div>
    </div>
    <div id="allUserPanelsWrap">
        <div id="appStartingText">Connecting...</div>
    </div>
</div>
</div>
