<div class="panel" id="homePanel">
    <div>
        <div id="tips"><span>Add Your Tips</span></div>
        <div id="ownerWrap">
            <div id="toolbarWrap">
                <button disabled="disabled" id="showStartupPanel"><span class="fa fa-gears"></span><span>&nbsp; Start Up Help</span></button><span>&nbsp;&nbsp;</span><button disabled="disabled" id="showSettingsPanel"><span class="fa fa-gear"></span><span>&nbsp; Settings</span></button>
                
        </div>
    </div>
    <div id="stamps">
        <div id="appStartingText">Connecting...</div>
        <div id="appCreate"></div>
    </div>
</div>
</div>
