 .stamp{
	display:inline-block;
    min-width:350px;
    text-align:left;
    color:#fff;
    margin-bottom:15px;
    position:relative;
    min-height:158px;
    border-radius:3px;
    margin-left:10px;
    margin-right:10px;
    vertical-align:top;
    background:#39424d
	}
.stampduty{
	margin-top:5px;
	min-width:120px;
	min-height:60px;
	border: 2px solid white;
	float:right;
	margin-right:10px;
	background-image: url("/static/imgs/blankstamp.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	text-align:center;
	color:black;
	font-size:40px;
	
	}
	
.center{
	vertical-align:middle;
}

.property{
	font-weight:bold;
}

.stampLegend{
    width:85px;
    display:inline-block;
    font-weight:700
}
.stampName{
    display:inline-block;
    margin-left:10px
}
.stampName,.txId{
    background:#343d48;
    font-size:12px;
    font-family:monospace;
    padding:3px 10px
}
.attachments ol , .signatures ol{
	padding:10px 0px 10px 40px;
	list-style:circle;
}

.bold{
	font-weight:bold;
}

#createstepsWrap{
    display:block;
    text-align:center;
    margin-top:-10px;
    margin-bottom:25px;
    display:none
}
#createdetailsWrap{
    display:block;
    width:100%;
    text-align:center;
    display:none
}

.coneStepWrap{
    display:inline-block;
    margin:0;
    text-align:center
}
.coneStepWrap:hover{
    cursor:pointer;
    color:#2eb9d6
}

.cstartupWrap{
    color:#5b6169;
    border:1px #5b6169 solid;
    border-radius:3px;
    margin:20px 0
}

#cStampdetail span{
max-width:400px;
word-wrap: break-word;
}
