 .stamp{
	display:inline-block;
    min-width:350px;
    text-align:left;
    color:#fff;
    margin-bottom:15px;
    position:relative;
    min-height:158px;
    border-radius:3px;
    margin-left:10px;
    margin-right:10px;
    vertical-align:top;
    background:#39424d
	}
.stampduty{
	margin-top:5px;
	min-width:120px;
	min-height:60px;
	border: 2px solid white;
	float:right;
	margin-right:10px;
	background-image: url("/static/imgs/blankstamp.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	text-align:center;
	color:black;
	font-size:40px;
	
	}
	
.center{
	vertical-align:middle;
}

.property{
	font-weight:bold;
}

.stampLegend{
    width:85px;
    display:inline-block;
    font-weight:700
}
.stampName{
    display:inline-block;
    margin-left:10px
}
.stampName,.txId{
    background:#343d48;
    font-size:12px;
    font-family:monospace;
    padding:3px 10px
}
.attachments ol , .signatures ol{
	padding:10px 0px 10px 40px;
	list-style:circle;
}

.bold{
	font-weight:bold;
}

#createstepsWrap{
    display:block;
    text-align:center;
    margin-top:-10px;
    margin-bottom:25px;
    display:none
}
#createdetailsWrap{
    display:block;
    width:100%;
    text-align:center;
    display:none
}

.coneStepWrap{
    display:inline-block;
    margin:0;
    text-align:center
}
.coneStepWrap:hover{
    cursor:pointer;
    color:#2eb9d6
}

.cstartupWrap{
    color:#5b6169;
    border:1px #5b6169 solid;
    border-radius:3px;
    margin:20px 0
}

#cStampdetail span{
max-width:400px;
word-wrap: break-word;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: white;
  color:black;
}

/* Style the collapsible content. Note: hidden by default */
.collapsecontent {
  padding: 0 18px;
  display: none;
  overflow-wrap: break-word;
  background-color: black;
  max-width:500px;
  max-height:200px;
  overflow-y:scroll;
}

#createPanel {
    display:none;
    position:fixed;
    top:0px;
    background:#343d48;
    padding:30px;
    width:90%;
    left:1%;
    min-width:720px;
    margin-left:0px;
}

#createdetailsWrap select{
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width:500px;
}
