 .stamp{
	display:inline-block;
    min-width:350px;
    text-align:left;
    color:#fff;
    margin-bottom:15px;
    position:relative;
    min-height:158px;
    border-radius:3px;
    margin-left:10px;
    margin-right:10px;
    vertical-align:top;
    background:#39424d;
    font-size: 15px;
    width:500px;
	}
.stampduty{
	margin-top:5px;
	min-width:120px;
	min-height:60px;
	border: 2px solid white;
	float:right;
	margin-right:10px;
	background-image: url("/static/imgs/blankstamp.jpg");
	background-repeat: no-repeat;
	background-position: center; 
	text-align:center;
	color:black;
	font-size:40px;
	
	}
	
.center{
	vertical-align:middle;
}

.property{
	font-weight:bold;
}

.stampLegend{
    width:85px;
    display:inline-block;
    font-weight:700
}
.stampName{
    display:inline-block;
    margin-left:10px
}
.stampName,.txId{
    background:#343d48;
    font-size:12px;
    font-family:monospace;
    padding:3px 10px
}
/*.attachments ol , .signatures ol{
	padding:10px 0px 10px 40px;
	list-style:circle;
}*/

.bold{
	font-weight:bold;
}

#createstepsWrap,#validatestepsWrap{
    display:block;
    text-align:center;
    margin-top:-10px;
    margin-bottom:25px;
    display:none
}
#createdetailsWrap,#validatedetailsWrap{
    display:block;
    width:100%;
    text-align:center;
    display:none
}

.coneStepWrap , .voneStepWrap{
    display:inline-block;
    margin:0;
    text-align:center
}
.coneStepWrap:hover , .voneStepWrap:hover{
    cursor:pointer;
    color:#2eb9d6
}

.cstartupWrap , .vstartupWrap{
    color:#5b6169;
    border:1px #5b6169 solid;
    border-radius:3px;
    margin:20px 0
}

#cStampdetail span{
max-width:400px;
word-wrap: break-word;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: white;
  color:black;
}

/* Style the collapsible content. Note: hidden by default */
.collapsecontent {
  padding: 0 18px;
  display: none;
  overflow-wrap: break-word;
  background-color: black;
  max-width:500px;
  max-height:200px;
  overflow-y:scroll;
}

#createPanel , #validatePanel {
    display:none;
    position:fixed;
    top:0px;
    background:#343d48;
    padding:30px;
    width:90%;
    left:1%;
    min-width:720px;
    margin-left:0px;
}

#createdetailsWrap select{
    overflow-wrap: break-word;
    word-wrap: break-word;
    max-width:500px;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#cStampdetail .stamp{
    width:500px;
    background:inherit;

}

#cStampdetail .stampduty{
    padding-top:20px;
}
#createform,#validateform{
color:#FFF
}
/*
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
*/


#createform label, input {
    /* in order to define widths */
    display: inline-block;
}

#createform label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}

#createform label + input {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
#createform input + input {
    float: right;
}


/*#validateform label, input {
    
    display: inline-block;
}

#validateform label {
    width: 30%;
   
    text-align: right;
}

#validateform label + input {
    width: 30%;

    margin: 0 30% 0 4%;
}


#validateform input + input {
    float: right;
}
*/
#vStampdetail {
color:white;
}
